<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.prototype.mode.mapper.UserInfoMapper">


    <select id="getUserMenu" resultType="com.cx.prototype.mode.entity.SysPermission">
        SELECT
            p.*
        FROM
            user_info u
        RIGHT JOIN sys_user_role ur ON (u.id = ur.uid)
        LEFT JOIN sys_role r ON (r.id = ur.role_id)
        RIGHT JOIN sys_role_permission rp ON (r.id = rp.role_id)
        LEFT JOIN sys_permission p ON (p.id = rp.permission_id)
        WHERE
            1 = 1
        AND u.id = #{userId}
    </select>


</mapper>